.cartList {
    margin: 20px auto;
    width: 40%;
}

.component {
    padding: 30px;
    margin: 10px;
    background-color: #999;
    color: white;
    display: flex;
    font-family: arial;
}

.price {
    margin-left: auto;
}

.cartPrice {
    font-family: arial;
    font-size: 23px;
}