$productNameColor: #dd4f23;
$productPriceColor: #c32b0e;
$bgColor : #fffa8a;
.container{
    margin-top: 5rem!important;
    .productName{
        color: $productNameColor;
    }
    .productPrice {
        span {
            color: $productPriceColor
        }
    }
}
.img{
    max-height: 60%;
}
