$productNameColor: #41912b;
$productPriceColor: #c32b0e;
$bgColor : #fffa8a;

.container{
    margin-top: 7rem!important;
    .productName{
        color: $productNameColor;
    }
    .productPrice {
        span {
            color: $productPriceColor
        }
    }
    .img{
        max-height: 60%;
        transition: all .15s ease-in-out;
        &:hover{
            transform: scale(1.02);
        }
    }
}

